<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRBa2c2xaCUK7F8Ph-yaF8EqT8cLg2NzU</string>
	<key>GCM_SENDER_ID</key>
	<string>806737479808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aurahome.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aura-1999</string>
	<key>STORAGE_BUCKET</key>
	<string>aura-1999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806737479808:ios:f75b4a2a7888bb4e4ebe65</string>
	<key>DATABASE_URL</key>
	<string>https://aura-1999-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>